    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Global Mosquito Alert">
    <meta name="author" content="Global Mosquito Alert Consortium">
    
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <title>Global Mosquito Alert</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ site.baseurl }}/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

