---
title: About
---

<!DOCTYPE html>
<html lang="en">
  <head>{% include head.html %}</head>

  <body>

{% include navbar.html %}

 <main role="main">


</main>


{% include bottom_script.html %}  


  </body>
</html>

 <main role="main">
<br>
<br>
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About Global Mosquito Alert</h1>
          <p class="lead text-muted text-left">Global Mosquito Alert is a community of scientists, policymakers, vector control specialists, educators, and public volunteers interested in leveraging citizen science to track and combat mosquito-borne disease. Participating projects contribute resources to a platform and secretariat supporting (1) a toolkit of good practices for working with diverse stakeholders; (2) standardized protocols and processes for data collection and validation; (3) a directory of participating projects; and, (4) a directory of individual experts.</p>
        </div>
      </section>


</main>



