---
title: Pillars
---

<!DOCTYPE html>
<html lang="en">
  <head>{% include head.html %}</head>

  <body>

{% include navbar.html %}

 <main role="main">


</main>


{% include bottom_script.html %}  


  </body>
</html>

 <main role="main">
<br>
<br>
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Global Mosquito Alert Pillars</h1>
          <p class="lead text-muted text-left">Global Mosquito Alert supports and endorses four canonical monitoring protocols: (1) Real-time vector mosquitos; (2) Larvae or breeding sites; (3) Bites or nuisance; and, (4) Biodiversity specimens or DNA. Each pillar is designed with a small set of common, “core” elements to be captured by all data collection partners participating in the global consortium. Each project is also encouraged to build on these core protocols to collect additional information relevant to local, regional, or national needs.</p>
        </div>
      </section>
<div class="container">

<h2>Pillar 1: Real-time targeted vector mosquitos.</h2>

<p>Data will be submitted in real time, through a mobile application or another web interface, with timestamp and geolocation. A notification system should alert participants to new vectors in their area. Alternately, in the “extreme” citizen science version volunteers could submit their written observations via postal mail. Core tasks and data collection protocols include record of the targeted species; picture(s) or sound profiles of the targeted species; information on sampling effort; and, notes. Adult mosquitoes located  with this pillar can lead to a specimen for pillar 4 (see data integration below).</p>

<a href="../guides/pillar1/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Guide</a>

<br>

<h2>Pillar 2: Larvae and breeding sites.</h2> 
<p>Data submission as in pillar 1. Core tasks and data collection protocols include record of breeding sites, including site category, habitat description, and genus identification; designation of location as public or private; information on sampling effort;and, notes.Larval data can also lead to a specimen for pillar 4 (see data integration below).</p>

<h2>Pillar 3: Bites/nuisance.</h2> 
<p>Data submission as in pillar 1. Core tasks and data collection protocols include quantifying the nuisance caused by mosquitoes (the number of mosquitoes buzzing around and/or biting an individual) over a period of observation; the location of the observer,designation of location as indoor or outdoor; sampling effort as reported by the observer (could include start and stop time logged by the application or other method); and,notes. Ideally bites/nuisance data can provide an entry point to pillar 1 (see data integration below).</p>

<h2>Pillar 4. Biodiversity specimen/DNA.</h2> 

<p>Data (specimens) will be submitted via postal mail. Participants should receive notifications when their specimens arrive, and when new vectors are identified in their area.  Core tasks/data collection protocols include specimen or DNA; pictures (e.g. pillar 1 or 2); sampling effort; and,notes. IdeallyBiodiversity specimen/ DNAdata can result from participants following any of the previous protocols facilitating sample tracking and return of results to the user (see data integration below). 

<h2>Data Integration Pillar.</h2> 
<p>Protocols 1-4 will be integrated such that they complement each other when implemented together. Adult and larval mosquitoes located with Pillars 1 and 2 will often result in the collection of actual specimens, and these may then be submitted under Pillar 4. Bite and nuisance reports under pillar 3 will often lead to reporting under pillar 1 (and specimens under pillar 4). Specimens collected under pillar 4 will often be accompanied by reports under Protocols 1 or 2. Although each pillar will be capable of standing on its own (and thus may be implemented independently of the others), special attention will be paid to ensuring interoperability and supporting integration, including through a mechanism for sharing participant and reporting identifiers across protocols, and for otherwise facilitating participants’ use of the full suite of protocols together.</p>

</div>


</main>

{% include bottom_script.html %}  


  </body>
</html>





