---
title: Guides
---

<!DOCTYPE html>
<html lang="en">
  <head>{% include head.html %}</head>

  <body>

{% include navbar.html %}

 <main role="main">


</main>


{% include bottom_script.html %}  


  </body>
</html>

 <main role="main">
<br>
<br>
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Global Mosquito Alert Best Practices Guides</h1>
          <p class="lead text-muted text-left">The Global Mosquito Alert best practices guides offer experiences gained from a variety of projects that use citizen science to better understand and combat disease-vector mosquitoes. The goal is to create a growing repository of information about how best to use and customize the Global Mosquito Alert citizen science toolkit for local implementation.</p>
        </div>
      </section>
<div class="container">

<a href="pillar1/"><img style="width: 200px;" src="pillar1/images/cover.jpg" alt="Pillar 1 Guide" class="img-thumbnail"></a>

<a href="pillar4/"><img style="width: 200px;" src="pillar4/images/cover.jpg" alt="Pillar 4 Guide" class="img-thumbnail"></a>


</div>


</main>

{% include bottom_script.html %}  


  </body>
</html>





